<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.franc.app.mapper.CouponMapper">
    <select id="findByAccountNo" parameterType="Long" resultType="CouponVO">
        <![CDATA[
            /** CouponMapper.findByAccountNo */
            SELECT A.*
            FROM TB_COUPON A
            WHERE A.ACCOUNT_NO = #{accountNo}
            AND ROWNUM <= 1
        ]]>
    </select>

    <select id="findIssueTargetCoupon" resultType="CouponVO">
        <![CDATA[
            /** CouponMapper.findIssueTargetCoupon */
            SELECT A.*
            FROM TB_COUPON A
            WHERE A.ACCOUNT_NO IS NULL
            AND ROWNUM <= 1
            /* FOR UPDATE */
        ]]>
    </select>

    <update id="issueCoupon" parameterType="CouponVO">
        UPDATE TB_COUPON
        SET ISS_DATE = NOW(),
            ACCOUNT_NO = #{accountNo}
        WHERE COUPON_ID = #{couponId}
    </update>

</mapper>